<%- include('includes/head', {dynamicTitle: 'Error CODE: 404'}) %>
</head>
<%- include('includes/nav-bar-header') %>
  <main>
    <h1>Content does not exist!</h1>
    <p>Please try later...</p>
    <div>
        <p><a href="/" class="btn">Back to landing page</a></p>
    </div>
  </main>
  <%- include('includes/footer') %>
