<%- include('includes/head', {dynamicTitle: 'Error CODE: 500'}) %>
</head>
<%- include('includes/nav-bar-header') %>
  <main>
    <h1>Something went wrong with the server!</h1>
    <p>Please try again...</p>
    <div>
        <p><a href="/" class="btn">Back to landing page</a></p>
    </div>
  </main>
  <%- include('includes/footer') %>
