<%- include('../../shared/includes/head', { dynamicTitle: 'Failure!' }) %>
</head>
<body>
  <%- include('../../shared/includes/nav-bar-header') %>
  <main>
    <h1>Order Failed!</h1>

  </main>
<%- include('../../shared/includes/footer') %>