<%- include('../../shared/includes/head', { dynamicTitle: 'Order succeeded!' }) %>

</head>
<body>
  <%- include('../../shared/includes/nav-bar-header') %>
  <main>
    <h1>Buy success!</h1>

  </main>
<%- include('../../shared/includes/footer') %>