<header id="main-nav-bar">
    <div><a href="">WDE</a></div>
    <nav>
      <ul>
        <% if (locals.isAuth) { %>
          <form action="/logOut" method="POST">
            <li>
              <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
              <button>Logout</button>
            </li>
          </form>
        <% } %>
      </ul>
    </nav>
  </header>