<header id="main-header">
    <div id="logo"><a href="/">Citrus Circus</a></div>
    <nav>
      <%- include('nav-bar-item') %>
    </nav>
    <button id="mobile-menu-btn">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </header>
  <aside id="mobile-menu">
    <nav>
      <%- include('nav-bar-item') %>
    </nav>
  </aside>