<%- include('../../shared/includes/head', { dynamicTitle: 'All Orders' }) %>
<link rel="stylesheet" href="/styles/orders.css">
<script src="/scripts/order-management.js" defer></script>
</head>
<body>
  <%- include('../../shared/includes/nav-bar-header') %>
  <main>
    <%- include('../../shared/includes/order-list') %>
  </main>
</body>