<%- include('../../shared/includes/head', {dynamicTitle: 'Catalogue'}) %>
<link rel="stylesheet" href="/styles/form.css">
<link rel="stylesheet" href="/styles/auth.css">
<link rel="stylesheet" href="/styles/products.css">

</head>
<body>
  <%- include('../../shared/includes/nav-bar-header') %>
    <main>
        <h1>All Products</h1>
        <ul id="products-grid">
          <% for (const product of products) { %>
            <li>
              <%- include('../../shared/includes/product-items', { product: product }) %>
            </li>
          <% } %>
        </ul>
    </main>

<%- include('../../shared/includes/footer') %>
