<%- include('../../shared/includes/head', {dynamicTitle: 'Catalogue'}) %>
<link rel="stylesheet" href="/styles/form.css">
<link rel="stylesheet" href="/styles/auth.css">
</head>
<%- include('../../shared/includes/nav-bar-header') %>
<body>
    <main>
        <h1>Product catalogue</h1>
        <p>A list of products ...</p>
    </main>

<%- include('../../shared/includes/footer') %>
