<%- include('../../shared/includes/head', {dynamicTitle: 'Add New Product'}) %>
<link rel="stylesheet" href="/styles/form.css">
<!-- <link rel="stylesheet" href="/styles/auth.css"> -->
</head>
<%- include('../../shared/includes/nav-bar-header') %>
<body>
    <main>
        <h1>Add new Product</h1>
        <%- include('includes/product-form', { submitPath: '/admin/products', product: {
          title: '',
          summary: '',
          price: '',
          description: ''
          },
          imageRequired: true }) %>
    </main>
<%- include('../../shared/includes/footer') %>
